{% load static %}

<html>

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/main1.css' %}" type="text/css">
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'js/uikit.min.js' %}"></script>
		<script src="{% static 'js/uikit-icons.min.js' %}"></script>
		<style>
			h1 {
				color: #F0F8FF;
				font-family: "Times New Roman";
				font-weight: bold;
				font-size: 110px;
				margin-top: 2em;
				margin-bottom: 1.5em; 
			}
			h2 {
				color: #F0F8FF;
				font-family: "Times New Roman", cursive;
				font-weight: bold;
				font-size: 26px;
				margin-bottom: 1.5em; 
			}
			h3 {
				color: #191970;
				font-family: "Times New Roman";
				font-weight: bold;
				font-size: 60px;
				padding-left: 20px;
			}
			h4 {
				color: #000000;
				font-family: "Times New Roman";
				font-size: 34px;
				padding-left: 20px;
			}
			h5 {
				color: #000000;
				font-family: "Times New Roman";
				font-size: 26px;
				padding-left: 20px;
			}
			li {
				color: #000000;
				font-family: "Times New Roman";
				font-size: 34px;
				padding-left: 20px;
			}

		</style>
	</head>



	<body>
		<div id="root">
			<div class=" uk-text-center uk-height-viewport uk-background-cover "  data-src="{% static 'img/im2.jpg' %}" uk-img>
				<h2 class="uk-text-center">Федеральное государственное бюджетное образовательное учреждение высшего образования <br>
				«САНКТ-ПЕТЕРБУРГСКИЙ ГОСУДАРСТВЕННЫЙ ЭКОНОМИЧЕСКИЙ УНИВЕРСИТЕТ»</h2>
				<div >
					<h1 class="uk-flex uk-flex-middle uk-flex-center uk-text-center">Сортировка слиянием</h1>
				</div>
				<h2 class="uk-text-center">Выполнила: Кузьмина Д.М. <br>
				Группа: ПМ-1701</h2>
				<form class="uk-flex uk-flex-center uk-flex-bottom" action="{% url 'sort:mainpage' %}" method="post">{% csrf_token %}
					<button class="button" style="vertical-align:middle"><span>Начать</span></button>
				</form>
			</div>
		</div>

		<div class="uk-position-relative" uk-slideshow>

			<div class="uk-slideshow-items uk-background-cover" data-src="{% static 'img/im4.jpg' %}" uk-img>
				<div>
					<h3> Цель и задачи работы:</h3>
					<hr class="uk-divider-icon"></hr>
					<div >
						<h4> Целью курсовой работы является создание эффективной программы, реализующей одну из наиболее известных сортировок - «Сортировку слиянием» и ее представление с помощью веб-интерфейса.</h4>
						<h4>Достижение указанной цели осуществлялось путем решения следующих основных задач:</h4>
						<ul class="uk-list uk-list-bullet">
			    			<li>Исследование специальной литературы по рассматриваемой теме.</li>
			    			<li>Изучения определений и формулировок, касающихся данной темы.</li>
			    			<li>Создание основной программы, выполняющей цель работы.</li>
			    			<li>Усовершенствование программы и алгоритмов, используемых в ней.</li>
						</ul>
					</div>
				</div>

				<div>
					<h3> О сортировке: </h3>
					<hr class="uk-divider-icon"></hr>
					<div >
						<h4>Сортировка «слиянием» является противоположностью быстрой сортировки, поскольку состоит из двух рекурсивных вызовов с последующей процедурой слияния. Одним из наиболее привлекательных свойств сортировки слиянием является тот факт, что она сортирует файл, состоящий из N элементов, за время, пропорциональное N log<span>&#8322;</span>N, независимо от характера входных данных. Основной недостаток же заключается в том, что простые реализации этого алгоритма требуют объема дополнительной памяти, пропорционального N. Это препятствие можно преодолеть, однако способы сделать это настолько сложны, что практически неприменимы. </h4>
					</div>
						
				</div>
				<div>
					<h3> Методы сортировки слиянием: </h3>
					<hr class="uk-divider-icon"></hr>
					<div >
						<h4> Существует несколько алгоритмов данной сортировки:</h4>
						<ul class="uk-list uk-list-bullet">
							<li lass="uk-margin">
								<a href="#modal-example1" uk-toggle>Двухпутевое слияние</a>
								<div id="modal-example1" uk-modal>
									<div class="uk-modal-dialog uk-modal-body">
										<button class="uk-modal-close-default" type="button" uk-close></button>
										<h4 class="uk-modal-title">Двухпутевое слияние:</h4>
										<img data-src="{% static 'img/gif_for_doubleTrack.gif' %}" sizes="(min-width: 1000px) 1000px, 1000vw" width="750" height="1000" alt="" uk-img>
									</div>
								</div>
							</li>
							<li lass="uk-margin">
								<a href="#modal-example2" uk-toggle>Абстрактное обменное слияние</a>
								<div id="modal-example2" uk-modal>
									<div class="uk-modal-dialog uk-modal-body">
										<button class="uk-modal-close-default" type="button" uk-close></button>
										<h4 class="uk-modal-title">Абстрактное обменное слияние:</h4>
										<img data-src="{% static 'img/gif_for_abstract.gif' %}" sizes="(min-width: 1000px) 1000px, 1000vw" width="750" height="1000" alt="" uk-img>
									</div>
								</div>
							</li>
							<li lass="uk-margin">
								<a href="#modal-example3" uk-toggle>Нисходящая сортировка слиянием</a>
								<div id="modal-example3" uk-modal>
									<div class="uk-modal-dialog uk-modal-body">
										<button class="uk-modal-close-default" type="button" uk-close></button>
										<h4 class="uk-modal-title">Нисходящая сортировка слиянием:</h4>
										<img data-src="{% static 'img/gif_for_nish.gif' %}" sizes="(min-width: 1000px) 1000px, 1000vw" width="750" height="1000" alt="" uk-img>
									</div>
								</div>
							</li>
							<li lass="uk-margin">
								<a href="#modal-example4" uk-toggle>Восходящая сортировка слиянием</a>
								<div id="modal-example4" uk-modal>
									<div class="uk-modal-dialog uk-modal-body">
										<button class="uk-modal-close-default" type="button" uk-close></button>
										<h4 class="uk-modal-title">Восходящая сортировка слиянием:</h4>
										<img data-src="{% static 'img/gif_for_vosh.gif' %}" sizes="(min-width: 1000px) 1000px, 1000vw" width="750" height="1000" alt="" uk-img>
									</div>
								</div>
							</li>
							<li lass="uk-margin">
								<a href="#modal-example5" uk-toggle>Усовершенствованный базовый алгоритм</a>
								<div id="modal-example5" uk-modal>
									<div class="uk-modal-dialog uk-modal-body">
										<button class="uk-modal-close-default" type="button" uk-close></button>
										<h4 class="uk-modal-title">Усовершенствованный базовый алгоритм:</h4>
										<img data-src="{% static 'img/gif_for_ultra.gif' %}" sizes="(min-width: 1000px) 1000px, 1000vw" width="750" height="1000" alt="" uk-img>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div>
					<h3> Производительность: </h3>
					<hr class="uk-divider-icon"></hr>
					<div >
						<h4>В Таблице 1 показана относительная эффективность различных рассмотренных усовершенствований. </h4>
						<div class=" uk-flex uk-flex-center uk-flex-middle" >
							<img data-src="{% static 'img/table.png' %}" sizes="(min-width: 650px) 650px, 110vw" width="850" height="800" alt="" uk-img>
						</div>
						<h5>Обозначения: N – Число элементов, Q – Стандартная быстрая сортировка, T – Стандартная нисходящая сортировка слиянием, O –Усовершенствованная сортировка слиянием, B – Стандартная восходящая сортировка слиянием</h5>
					</div>
						
				</div>
		    </div>
		    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
		    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>


	
			
		
		
	</body>    

</header>


